<%= simple_form_for [@idea] do |f| %>
  
	<p>How can we re-connect our kids with nature?</p>
	<%= field_set_tag nil, :class => "auto" do %>
		<%= f.input :name, :input_html => { :"data-placeholder" => "Your name" } %>
		<%= f.input :title, :as => :text, :input_html => { :"data-placeholder" => "Your idea (in under 90 characters)" } %>
		<%= f.input :idea, :as => :text, :input_html => { :"data-placeholder" => "More about your idea, supporting information etc." } %>
	<% end %>

	<%= field_set_tag do %>
		<%= f.submit :value => "Inspire us" %>
	<% end %>
  
<% end %>
