<ul class="grid_list">
	<li><%= link_to (image_tag "branding/greenlions.gif", :alt => "Green Lions"), "http://greenlions.com/" %></li>
	<li><%= link_to (image_tag "branding/greenlions.gif", :alt => "Do Lectures"), "http://www.dolectures.com" %></li>
	<li><%= link_to (image_tag "branding/greenlions.gif", :alt => "TYF"), "http://www.tyf.com/" %></li>
	<li><%= link_to (image_tag "branding/greenlions.gif", :alt => "Eden Project"), "http://www.edenproject.com/" %></li>
	<li><%= link_to (image_tag "branding/greenlions.gif", :alt => "Al Kennedy"), "https://twitter.com/_alkennedy" %></li>
	<li><%= link_to (image_tag "branding/greenlions.gif", :alt => "National Trust"), "http://www.nationaltrust.org.uk/" %></li>
</ul>