<section id="projects">
		
	<% if @wild_thing_projects.any? %>
	<ul>
		<% @wild_thing_projects.each do |project| %>
		<li>
			<h2><%= link_to project.title, project.url %></h2>
			<p><%= project.description %></p>
			<% unless project.image.url.nil? %>
				<%= link_to image_tag(project.image), project.url %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
	
</section>


<% if @projects.any? %>
<section class="full_panel">

	<h2>Get involved, go wild</h2>
	<h3>Other wild projects around the web</h3>
	
	<ul>
		<% @projects.each do |project| %>
		<li>
			<h2><%= link_to project.title, project.url %></h2>
			<p><%= project.description %></p>
			<% unless project.image.url.nil? %>
				<%= link_to image_tag(project.image), project.url %>
			<% end %>
		</li>
		<% end %>
	</ul>
	
	<p class="cta"><%= link_to "More projects", projects_path %></p>
	
</section>
<% end %>

<section class="full_panel">

	<h2>Your ideas</h2>
	<h3>How can we re-connect with nature?</h3>
	
	<% if @ideas.any? %>
	<ul>
		<% @ideas.each do |idea| %>
			<%= render "ideas/block" %>
		<% end %>
	</ul>
	<% end %>
	
	<%= render "ideas/form" %>
	
</section>



