<section class="panel">
	<h2><span>A platform to reconnect kids with wildness</span> Work on a concept / Cast your vote / Go Wild!</h2>
	<%= image_tag "nature.gif", :alt => "Wild Thing" %>
</section>

<section class="panel">
	<h2><span>The Campaign</span>Inspirations from the Wild</h2>
	<iframe src="http://player.vimeo.com/video/44097760?byline=0&amp;color=aecf1b" width="465" height="260" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</section>

<section class="panel">
	<h2>Most popular concepts</h2>
	<p>Vote for your favourite, get inspired, bring them to life.</p>
	<% if @concepts.any? %>
	<ul class="grid_list">
		<% @concepts.each do |concept| %>
		<li>
			<h3><%= link_to concept.title, concept_path(concept) %></h3>
			<% unless concept.image.url.nil? %>
				<%= link_to (image_tag concept.image.thumbnail), concept_path(concept) %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
</section>

<section class="panel">
	
	<h2>Latest Live Project</h2>
	<h3><%= link_to @project.title, project_path(@project) %> <span>by Dan Burgess, Loz Ives and Andrew Sprinz</span></h3>
	
	<% if @project %>
		<% unless @project.image.url.nil? %>
			<%= link_to (image_tag @project.image.thumbnail), project_path(@project) %>
		<% end %>
	<% end %>
	
</section>