<section class="panel">
	<h2><span>A platform to reconnect kids with wildness. Get involved: Find a project. Build on a concept. Go Wild!</span></h2>
	<%= image_tag "nature.gif", :alt => "Wild Thing" %>
</section>

<section class="panel">
	<h2><span>The Campaign</span>Inspirations from the Wild</h2>
	<iframe src="http://player.vimeo.com/video/44097760?byline=0&amp;color=aecf1b" width="465" height="260" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</section>

<section class="panel">
	<h2>Concepts</h2>
	<p>Conceptual projects from the community - get inspired, bring them to life.</p>
	<ul class="grid_list">
		<li>
			<%= image_tag "placeholder_thumbnail.gif" %>
			<h3><%= link_to "Another concept title" %></h3>
		</li>
		<li>
			<%= image_tag "placeholder_thumbnail.gif" %>
			<h3><%= link_to "Another concept title" %></h3>
		</li>
		<li>
			<%= image_tag "placeholder_thumbnail.gif" %>
			<h3><%= link_to "Another concept title" %></h3>
		</li>
		<li>
			<%= image_tag "placeholder_thumbnail.gif" %>
			<h3><%= link_to "Another concept title" %></h3>
		</li>
	</ul>
</section>

<section class="panel">
	<h2>Projects</h2>
	<p>Ways you can start getting connected with nature today.</p>
	
	<% if @projects.any? %>
	<ul class="grid_list">
		<% @projects.each do |project| %>
		<li>
			<% unless project.image.url.nil? %>
				<%= image_tag project.image.thumbnail %>
			<% end %>
			<h3><%= link_to project.title, project_path(project) %></h3>
		</li>
		<% end %>
		<li>
			<%= image_tag "placeholder_thumbnail.gif" %>
			<h3><%= link_to "Another project title" %></h3>
		</li>
		<li>
			<%= image_tag "placeholder_thumbnail.gif" %>
			<h3><%= link_to "Another project title" %></h3>
		</li>
		<li>
			<%= image_tag "placeholder_thumbnail.gif" %>
			<h3><%= link_to "Another project title" %></h3>
		</li>
	</ul>
	<% end %>
	
</section>