<h1>The Wild Thing Founding Partners</h1>

<ul class="grid_list">
	<li><%= link_to (image_tag "branding/partners/nationaltrust.gif", :alt => "National Trust"), "http://www.nationaltrust.org.uk/" %></li>
	<li><%= link_to (image_tag "branding/partners/arla.gif", :alt => "Arla"), "http://www.arlafoods.co.uk/" %></li>
	<li><%= link_to (image_tag "branding/partners/nsh.gif", :alt => "NHS"), "http://www.nhs.uk/" %></li>
	<li><%= link_to (image_tag "branding/partners/playengland.gif", :alt => "Play England"), "http://www.playengland.org.uk/" %></li>
	<li><%= link_to (image_tag "branding/partners/britdoc.gif", :alt => "Britdoc"), "http://britdoc.org/" %></li>
	<li><%= link_to (image_tag "branding/partners/al.gif", :alt => "Al Kennedy"), "https://twitter.com/_alkennedy" %></li>
	<li><%= link_to (image_tag "branding/partners/eden.gif", :alt => "Eden Project"), "http://www.edenproject.com/" %></li>
	<li><%= link_to (image_tag "branding/partners/tyf.gif", :alt => "TYF"), "http://www.tyf.com/" %></li>
	<li><%= link_to (image_tag "branding/partners/dolectures.gif", :alt => "Do Lectures"), "http://www.dolectures.com" %></li>
	<li><%= link_to (image_tag "branding/partners/greenlions.gif", :alt => "Green Lions"), "http://greenlions.com/" %></li>
	<li><%= link_to (image_tag "branding/partners/goodfornothing.gif", :alt => "Good for Nothing"), "http://www.goodfornothing.com/" %></li>
</ul>