<!DOCTYPE html>
<html>
	<head>
		
		<title>Wild Thing &mdash; Re-connecting kids with nature</title>
		<meta name="description" content="Ideas, inspiration and activities to re-connect kids with nature." />
		<meta name="keywords" content="kids, nature, deficit, disorder, wild, thing" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<meta property="fb:admins" content="1009211182" />
		
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		
		 <% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34329419-1']);
		  _gaq.push(['_setDomainName', 'projectwildthing.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<% end %>
			
	</head>
	<body class="<%= "section_#{params[:controller]} view_#{params[:action]} pledged_#{session[:pledged]}"%>">
		
		<header>
			
			<section class="introduction">
			
				<div class="container">
					
					<% if is_home? %>
					
						<h1 class="branding ir">Project Wild Thing<span></span></h1>
						<p class="tagline">Re-connecting 1 million kids with nature</p>
						
						<%= render "pledges/introduction" unless session[:pledged] %>
						<%= render "pledges/pledged" if session[:pledged] %>
						
						<nav id="primary_navigation">
							<ul>
								<li><%= link_to "Find a project", "#projects" %></li>
								<li><%= link_to "Be Inspired", "#inspiration" %></li>
								<li><%= link_to "Share Your Ideas", "#ideas" %></li>
							</ul>
						</nav>
					
					<% else %>
					
						<p class="branding"><a href="<%= root_path %>" class="ir">Project Wild Thing <span></span></a></p>
						<p class="tagline">Re-connecting 1 million kids with nature</p>
												
						<nav id="primary_navigation">
							<ul>
								<li><%= link_to "Find a project", projects_path, :class => ("active" if is_projects?) %></li>
								<li><%= link_to "Be Inspired", film_path, :class => ("active" if is_film?) %></li>
								<li><%= link_to "Share Your Ideas", "#{root_path}#ideas" %></li>
							</ul>
						</nav>
						
					<% end %>
						
					<% if session[:pledged] && is_projects?	%>
					
						<div class="sharing">		
							<p class="cta"><a href="https://twitter.com/intent/tweet?&amp;via=wearewildthing&amp;url=http%3A%2F%2Fwww.projectwildthing.com&amp;text=I have pledged to spend as much time outdoors as I do looking at screens, take the pledge with me:">Tweet your Pledge</a></p>
							<p class="cta"><a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.projectwildthing.com&amp;text=I have pledged to spend as much time outdoors as I do looking at screens, take the pledge with me">Share on Facebook</a></p>
						</div>
						
					<% end %>
						
				</div>
			
			</section>
			
		</header>
		
		<div id="primary_content" role="main">
			<div class="container">
				<% if flash[:notice] %>
					<p class="notice"><%= flash[:notice] %></p>
				<% end %>
				<%= yield %>
			</div>
		</div>
				
		<footer>
			<div class="container">
				<%= render "ideas/panel" if is_home? %>
				<%= render "home/footnotes" if is_manifesto? %>
				<p class="colophon">A Wild Thing <%= link_to "founders", partners_path %> collaboration, Designed <a href="http://www.becausestudio.co.uk/">Because Studio</a>, Twittering at <a href="http://twitter.com/wearewildthing">@wearewildthing</a>, Privacy in our <%= link_to "policy", privacy_path %></p>
			</div>
		</footer>
			
	</body>
</html>