<!DOCTYPE html>
<html>
	<head>
		
		<title>Wild Thing &mdash; Re-connecting kids with nature</title>
		<meta name="description" content="Ideas, inspiration and activities to re-connect kids with nature." />
		<meta name="keywords" content="kids, nature, deficit, disorder, wild, thing" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		
		 <% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34329419-1']);
		  _gaq.push(['_setDomainName', 'projectwildthing.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<% end %>
			
	</head>
	<body class="<%= "section_#{params[:controller]} view_#{params[:action]}"%>">
		
		<header>
			
			<section class="introduction">
			
				<div class="container">
					
					<% if is_home? %>
					
						<h1 class="branding ir">Project Wild Thing<span></span></h1>
						
						<nav id="primary_navigation">
							<ul>
								<li><%= link_to "Pledge", "#pledge" %>
								<li><%= link_to "Projects", "#projects" %></li>
								<li><%= link_to "Your Ideas", "#ideas" %></li>
							</ul>
						</nav>
						
						<%= render "pledges/introduction" %>
					
					<% else %>
					
						<p class="branding"><a href="<%= root_path %>" class="ir">Project Wild Thing <span></span></a></p>
						
						<nav id="primary_navigation">
							<ul>
								<li><%= link_to "Pledge", "#{root_path}#pledge" %>
								<li><%= link_to "Projects", projects_path %></li>
								<li><%= link_to "Your Ideas", "#{root_path}#ideas" %></li>
							</ul>
						</nav>
						
					<% end %>
						
				</div>
			
			</section>
			
		</header>
		
		<div id="primary_content" role="main">
			<div class="container">
				<%= flash[:notice] %>
				<%= yield %>
			</div>
		</div>
				
		<footer>
			<p class="container">A Wild Thing <%= link_to "founders", partners_path %> collaboration, Designed <a href="http://www.becausestudio.co.uk/">Because Studio</a>, Twittering at <a href="http://twitter.com/wearewildthing">@wearewildthing</a>, Privacy in our <%= link_to "policy", privacy_path %></p>
		</footer>
			
	</body>
</html>