<!DOCTYPE html>
<html>
	<head>
		
		<title>Wild Thing &ndash; Re-connecting kids with nature</title>
		<meta name="description" content="Ideas, inspiration and activities to re-connect kids with nature" />
		<meta name="keywords" content="kids, nature, deficit, disorder, wild, thing" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		
		 <% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34329419-1']);
		  _gaq.push(['_setDomainName', 'projectwildthing.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<% end %>
			
	</head>
	<body class="<%= "section_#{params[:controller]} view_#{params[:action]}"%>">
	
		<% unless params[:action] == "teaser" %>
	
		<header>
			
			<section class="introduction">
			
				<div class="container">
					<% if params[:controller] == "home" && params[:action] == "index" %>
						<h1 class="branding ir">Project Wild Thing<span></span></h1>
					<% else %>
						<p class="branding"><a href="<%= root_path %>" class="ir">Project Wild Thing <span></span></a></p>
					<% end %>
					
					<% if params[:controller] == "home" && params[:action] == "index" %>

						<section id="pledges">
							
							<p id="pledge_count">

								<% if session[:pledged] %>
								
									<br />you and
									<span><%= "%04d" %  (@pledge_count.to_i-1) %></span>
									other people have pledged
								
								<% else %>
								
									<span><%= "%04d" %  (@pledge_count.to_i) %></span>
									people have pledged
								
								<% end %>
								
							</p>
							
							<% unless session[:pledged] %>
							<p id="pledge">&rdquo; I promise to spend as much time outdoors as I do looking at screens, and, by my advice and example, encourage others to do the same &ldquo;</p>
							<% end %>

							<% if session[:pledged] %>
							<p class="cta"><a href="https://twitter.com/intent/tweet?&amp;via=wearewildthing&amp;url=http%3A%2F%2Fwww.projectwildthing.com&amp;text=I have pledged to spend as much time outdoors as I do looking at screens, take the pledge with me:">Tweet your Pledge</a></p>
							<% else %>
							<p class="cta"><%= link_to "Take the Pledge", new_pledge_path %></p>
							<% end %>
							
						</section>

					<% end %>
						
				</div>
			
			</section>
			
		</header>
		
		<% end %>
	
		<section id="main" role="main">
			<div class="container">
				<%= flash[:notice] %>
				<%= yield %>
			</div>
		</section>
		
		<% unless params[:action] == "teaser" %>
		
		<footer class="container">
			<p>Brought to you by the Wild Thing <%= link_to "Founding Partners", partners_path %> &ndash; Designed by <a href="http://www.becausestudio.co.uk/">Because Studio</a> &ndash; Twittering at <a href="http://twitter.com/wearewildthing">@wearewildthing</a></p>
		</footer>
		
		<% end %>
	
	</body>
</html>