<!DOCTYPE html>
<html>
	<head>
		
		<title>Wild Thing &ndash; Re-connecting kids with nature</title>
		<meta name="description" content="Ideas, inspiration and activities to re-connect kids with nature" />
		<meta name="keywords" content="kids, nature, deficit, disorder, wild, thing" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
			
	</head>
	<body class="<%= "section_#{params[:controller]} view_#{params[:action]}"%>">
	
		<% unless params[:action] == "teaser" %>
	
		<header class="container">
			
			<% if params[:controller] == "home" && params[:action] == "index" %>
				<h1 class="branding ir">Wild Thing<span></span></h1>
			<% else %>
				<p class="branding"><a href="<%= index_path %>" class="ir">Wild Thing <span></span></a></p>
			<% end %>
			
			<p class="tagline">Reconnecting kids with nature</p>
			
			<nav id="primary_navigation">
				<ul>
					<li><%= link_to "Projects", "#{index_path}#projects", :class => ("active" if params[:controller]=="projects") %> <span>(1)</span></li>
					<li><%= link_to "Inspiration", "#{index_path}#inspiration", :class => ("active" if params[:controller]=="inspiration") %> <span>(20)</span></li>
				</ul>
			</nav>
			
		</header>
		
		<% end %>
	
		<div class="container" id="main" role="main">
			<%= yield %>
		</div>
		
		<% unless params[:action] == "teaser" %>
		
		<footer class="container">
			<p>Brought to you by the Wild Thing <%= link_to "founding partners", backing_path %> and the <%= link_to "Good for Nothing", "http://goodfornoth.ning.com/" %> community</p>
		</footer>
		
		<% end %>
	
	</body>
</html>